/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* REGOLE GENERALI LINK */
a {
  color: #4F4A4C;
  text-decoration: none;
}

/* REGOLE HOVER PER I LINK */
ul li a:hover {
  color: #2B9FFB;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  font-weight: bold;
  margin-left: 25px;
}